<%include public/head.html%>
<div class="banner" id="banner" class="flexslider">
	<ul class="slides">
        <li><img src="/public/images/banner.jpg"  width="100%" /></li>
        <li><img src="/public/images/banner.jpg"  width="100%" /></li>
        <li><img src="/public/images/banner.jpg"  width="100%" /></li>
    </ul>
</div>
<script type="text/javascript" src="/public/js/jquery.slider.js"></script>
<script type="text/javascript">
$(function(){
    $('#banner').flexslider({
        animation: "slide",
        direction:"horizontal",
        easing:"swing"
    });
});
</script>

<!--主页主体部分-->
<div class="index-block-advant">
	<div class="index-advant-main">
		<div class="advant-l">
			<h2>您的终端帮您赚钱了吗？</h2>
			<h4>最专业的网吧增值联盟 释放流量价值</h4>
			<div class="advant-cont">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;快步网盟在网吧增值领域有深入的研究和见解，并拥有高端技术研发人才、完善的客户服务体系，极具竞争力的广告产品。公司已与百度、搜狗、360等多家知名广告商达成合作，广告资源丰富，广告形式多样，能为广大网吧主带去丰厚的收入。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增值广告类型现如今主要有主页导航，浏览器推广，隐藏类广告，数据运算，信息推送等丰富的展现形式。</p>
			</div>
			<div class="index-advant-button"><a href="/">详细业务介绍>></a></div>
		</div>
		<div class="advant-r">
			<img src="/public/images/project.jpg" />
		</div>
	</div>
</div>

<div class="index-block-msg">
	<div class="index-msg-main">
		<div class="mid-top">
			<h2>选择快步网盟的优势</h2>
			<p>公司由行业资深项目运营管理专家创立，在网吧增值领域有深入的研究和见解，并拥有高端技术研发人才、完善的客户服务体系，极具竞争力。</p>
		</div>
	</div>
</div>

<div class="index-block-msglist">
	<div class="index-msglist-main">
		<img src="/public/images/index-block-good.jpg" />
	</div>
</div>

<div class="index-block-friend">
    <div class="index-friend-main">
        <h2>战略合作伙伴</h2>

        <div class="flink-box">
            <ul>
                <li><a href="http://www.taobao.com/" target="_blank"><img src="/public/images/fl/tb-logo.png" width="140" height="60" /></a></li>
                <li><a href="http://www.37.com/" target="_blank"><img src="/public/images/fl/37-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://www.hao123.com/" target="_blank"><img src="/public/images/fl/hao123-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://www.baidu.com/" target="_blank"><img src="/public/images/fl/bd-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://www.sogou.com/" target="_blank"><img src="/public/images/fl/sg-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://hao.360.cn/" target="_blank"><img src="/public/images/fl/360-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://www.alipay.com/" target="_blank"><img src="/public/images/fl/zfb-logo.png" width="140" height="60"  /></a></li>
                <li><a href="http://tv.sohu.com/" target="_blank"><img src="/public/images/fl/sh-logo.gif" width="140" height="60"  /></a></li>
                <li><a href="http://game.163.com/" target="_blank"><img src="/public/images/fl/wy-logo.png" width="140" height="60"  /></a></li>
                <li><a href="http://www.qq.com/" target="_blank"><img src="/public/images/fl/qq-logo.png" width="140" height="60"  /></a></li>
                <li><a href="http://www.4399.com/" target="_blank"><img src="/public/images/fl/4399-logo.gif" width="140" height="60"  /></a></li>
                <li><a href="http://www.5137.com/" target="_blank"><img src="/public/images/fl/5137-logo.png" width="140" height="60"  /></a></li>
                <li><a href="http://www.91.com/" target="_blank"><img src="/public/images/fl/91-logo.png" width="140" height="60"  /></a></li>
                <li><a href="http://www.51wan.com/" target="_blank"><img src="/public/images/fl/51w-logo.jpg" width="140" height="60"  /></a></li>
                <li><a href="http://www.sdo.com/" target="_blank"><img src="/public/images/fl/sdo-logo.png" width="140" height="60"  /></a></li>
                <li><a href="https://www.2345.com/" target="_blank"><img src="/public/images/fl/2345-logo.png" width="140" height="60"  /></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="index-invite-reg">
    <div class="wrap">
        <div class="index-invite-reg-txt fontf-my">
            已经有<strong>12,360</strong>+位网吧主与我们合作！
        </div>
        <div class="index-invite-reg-button"><a href="/reg">马上注册，开启赚钱之门!</a></div>
    </div>
</div>
<%include public/foot.html%>
</body>
</html> 