<!DOCTYPE html>
<html lang="Zh-CN">
<head>
<meta charset="UTF-8">
<title>会员登录——网盟测试站</title>
<link rel="stylesheet" href="/public/css/login.css" nedia="screen" />
<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
<script type="text/javascript" src="/public/js/jquery.1.11.3.min.js"></script>

</head>

<body>

<div class="head">
    <div class="wrap">
        <div class="logo"><a href="/"><img src="/public/images/mainlogo.png" /></a></div>
        <div class="center">
			<h2>用户管理系统</h2><span>通知</span>
        </div>
    </div>
</div>


<div class="login-main">
    <div>
        <%=error%>
    </div>
	<div class="logfun">
		<span class="funleft"><a href="/">返回</a></span>
	</div>
</div>
</body>
</html>