<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>会员中心 -网盟测试站</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/css/app.min.css">
<link rel="stylesheet" href="/css/clicon.css">
<script src="/js/jquery.1.9.1.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body style="min-width:980px;">
<div id="menu">
  <div class="app-aside modal nav-expand">
    <div class="navside dark dk" layout="column">
      <div class="user_plugins_logobox dark">
        <a href="/cms/users/allUser" class="logo_link user_nav_logo" title="首页"></a>
      </div>
      <ul class="nav">
        <%config.CmsTabs.forEach(function (pairss) {%>
         <li class="active">
          <a class="menuClick">
            <span class="nav-icon">
              <i class="clicon-qr-manage"></i>
            </span>
            <%var index=0; pairss.forEach(function (pairs) {%>
              <%if(index==0){%>
                <span class="nav-text"><%=pairs[1]%></span>
                </a>
                <ul class="nav-sub nav-mega nav-mega-3">
              <%}else{%>
                <li class=" <%= pairs[0] === curTab[0] ? 'active' : '' %>">
                  <%if(pairs[2] <= current_user.userRole){%>
                    <%if(pairs[0].indexOf('User')>0){%>
                      <a href="/cms/users/<%=pairs[0]%>"><span class="nav-text"><%=pairs[1]%></span></a>
                    <%}else{%>
                        <a href="/cms/<%=pairs[0]%>"><span class="nav-text"><%=pairs[1]%></span></a>
                    <%}%>
                  <%}%>
                </li>
              <%}%>
            <%index++;%>
          <% });%>
          </ul>
          </li>
        <% });%>
        <li>
          <a href="#" ><span class="user_plugins_nav_text">帮助中心</span></a>
        </li>
      </ul>

      <div class="user_plugins_footer">
        <div class="service_tip" style="display: none;">
          <div class="service_tip_arrow"></div>
          <div class="service_tip_inner">问题解答，操作指南，业务咨询
            <br>任何问题都可以找我解决。
          </div>
        </div>

        <a href="javascript:;" class="user_plugins_footer_service" id="user_plugins_qqservice">
          <span class="user_plugins_service_logo" id="user_plugins_service_logo" style="background-position: 0px 0px;"></span>
          <div class="user_plugins_service_rightbox">
            <span class="user_plugins_service_text">您的专属客服</span>
            <span class="user_plugins_service_status">
              <i class="fa fa-circle online" id="service_status_icon"></i>
              <span id="service_status_text">客服安安</span>
            </span>
          </div>
        </a>

        <div class="user_plugins_service_tel">
          <i class="fa fa-phone"></i>
          <span id="service_status_text">咨询热线: 4000554155</span>
        </div>
      </div>

    </div>
    <div flex="" class="hide-scroll">
      <nav class="scroll nav-stacked nav-active-success"></nav>
    </div>
  </div>
  <div class="user_plugins_head">
    <div class="user_plugins_head_main">
      <div class="user_plugins_head_title fl"><span class="domain_title" id="domain_title"><%=curTab[1]%></span></div>
      <%if(curTab[0]!='newUser' && curTab[0]!='modUser'){%>
        <form role="search" class="inline"  method="post" action="/cms/<%=curTab[0]%>">
          <div>
            <input type="text" placeholder="Search">
          </div>
          <button type="submit">Submit</button>
        </form>
       <%}%>
      <div class="user_plugins_user_info fr">
        <a href="/" class="user_info_link transit">网站首页</a>
        <div class="user_name_box" id="user_name_box">
          <div class="user_name">
            <i class="clicon-user-o-block"></i><%=current_user.realName%>
            <div class="user_plugins_arrow_box" style="display: none; opacity: 0; transform: scale(0.8);" id="user_plugins_arrow_box">
              <a href="/signout" class="user_plugins_arrow_link">安全退出</a></div>
          </div>
          <div class="user_plugins_head_arrow">
            <div class="user_plugins_head_arrow_up"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="user_plugins_loading" id="user_plugins_loading">
      <img src="http://static.clewm.net/cli/images/user/userclickloading.gif">
      <span class="user_plugins_loading_prompt" id="user_plugins_loading_prompt">正在处理，请稍后</span>
    </div>

  </div>
</div>