<div class="footer">
    <div class="footer-wrap">
        <div class="footer-quickmenu">
            <dl>
                <dt>新手上路</dt>
                <dd><a href="#">注册账号</a></dd>
                <dd><a href="/member">开通业务</a></dd>
                <dd><a href="/member">软件安装</a></dd>
                <dd><a href="/member">查看收益</a></dd>
            </dl>
            <dl>
                <dt>快速通道</dt>
                <dd><a href="/wm/product/">产品列表</a></dd>
                <dd><a href="/member">会员中心</a></dd>
                <dd><a href="/wm/qanda/">帮助文档</a></dd>
                <dd><a href="/wm/shopping/">积分兑换</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="/wm/aboutus/">关于我们</a></dd>
                <dd><a href="/wm/aboutus/">联系我们</a></dd>
                <dd><a href="/wm/aboutus/">商务合作</a></dd>
                <dd><a href="/wm/aboutus/">工作机会</a></dd>
            </dl>
        </div>
        <div class="footer-content">
            <div class="footer-content-tel">服务热线：<b>400 0554 155</b>
                <p class="footer-content-tel-service">周一至周五 9:00-18:00（仅收市话费）</p>
            </div>
            <div class="footer-content-online">
                <div class="footer-content-qq"><a href="">400 0554 155</a></div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">kuaibu8.com Copyright &copy; 2016-2026 <a href="/">快步网盟</a> 版权所有</div>
</div>